.git
.gitignore
.github

node_modules
frontend

vendor

.env
.env.backup
.env.*.local

database/*.sqlite

storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views

tests
.phpunit.result.cache
*.md
.vscode
.idea